@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&display=swap");
* {
  font-family: 'Roboto', sans-serif; }

#botonera {
  grid-area: botonera;
  background-color: #F7F7F7; }
  #botonera ul li a {
    font-size: 1em; }
  #botonera #links {
    color: #121111;
    font-size: 1em; }
    #botonera #linkshover {
      color: #A80808;
      font-weight: 300;
      font-size: 1.5em; }

body {
  background-color: #A80808;
  overflow-x: hidden; }

#header {
  grid-area: header;
  color: #D5BD89;
  margin-top: 10px;
  margin-bottom: 10px; }

:root {
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }

.name {
  position: relative; }

.paragraph {
  --clippy: circle(0% at 50% 50%); }

.item {
  position: relative;
  padding-left: 1rem;
  transition: color .1s; }

.item::before {
  content: "";
  display: block;
  background: slateblue;
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: var(--clippy);
  transition: clip-path 1.2s; }

.paragraph::before {
  background: #F86D70; }

.name:hover::before {
  clip-path: polygon(0 0, 85% 0, 99% 100%, 0 100%); }

.name:hover + .paragraph::before {
  clip-path: circle(150% at 50% 50%);
  transition: clip-path 1s 1.2s; }

.name:hover,
.name:hover + .paragraph {
  color: #F9F2F2; }

#main {
  grid-area: main; }
  #main #div-img {
    display: flex;
    justify-content: center; }
  #main #img-header {
    height: auto;
    width: 90%; }

#accesibilidad {
  grid-area: accesibilidad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

#horarios {
  margin-bottom: 10px;
  height: auto;
  background-color: #F9F2F2; }

#horarios ul li {
  list-style: none;
  font-size: 1em; }

#llegada {
  margin-top: 10px;
  height: auto;
  background-color: #F9F2F2;
  font-size: 1em; }

#llegada ul li {
  list-style: none;
  font-size: 1em; }

#maps {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-area: maps;
  margin-top: 5px;
  margin-bottom: 5%;
  width: auto; }

.bg-img {
  background-color: #F9F2F2;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px; }

.bg-white-color {
  background-color: #F9F2F2; }

.text-black {
  color: #121111;
  font-weight: 500; }

.text-center {
  text-align: center; }

#parrafos {
  margin: 5% 3%;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1em;
  text-align: center;
  color: #FFA2A2; }

h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 400; }

h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5em;
  font-weight: 300; }

h3 {
  font-size: 1em;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200; }

#img-nosotros {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%; }
  #img-nosotros .img-entrada {
    margin-top: 2%;
    margin-bottom: 5%;
    width: 90%;
    height: 90%; }

#iframe {
  grid-area: iframe;
  width: 50%; }

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.fieldset {
  color: #121111;
  font-weight: 500; }

.iframe {
  border-radius: 20px; }

#form {
  display: flex;
  justify-content: flex-start;
  width: 60%; }

.button {
  background-color: #1986CB;
  border-color: #1986CB;
  border-radius: 5px;
  border-color: #1986CB; }

#footer {
  grid-area: footer; }
  #footer .footer {
    background-color: #F9F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #footer .footer .icono-footer {
      padding-top: 10px;
      align-self: center;
      width: 40px;
      height: auto; }
    #footer .footer .slogan-footer {
      padding-bottom: 20px;
      align-self: center;
      width: 200px;
      height: auto; }
  #footer .footer-redes {
    background-color: #F9F2F2;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #footer .footer-redes .red-social {
      margin: 0 10px;
      margin-top: 5px;
      margin-bottom: 15px;
      width: 40px;
      height: auto;
      align-self: center; }

.contenedor {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "botonera"  "header"  "main" "accesibilidad" "maps" "footer"; }

.contenedor2 {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "botonera"  "header"  "main" "footer"; }

.contenedor3 {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "botonera"  "header"  "main" "iframe" "footer"; }

.contenedor4 {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "botonera"  "header"  "main" "maps" "footer"; }

.contenedor5 {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "botonera"  "header"  "main" "footer"; }

@media (min-width: 768px) {
  .contenedor {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "botonera botonera"  "header header" "main main" "accesibilidad accesibilidad" "maps maps" "footer footer"; }
  h1 {
    font-size: 2.5em; }
  h2 {
    font-size: 2em; }
  #accesibilidad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px; }
  #horarios {
    padding-right: 5px;
    width: 60%;
    height: auto;
    background-color: white;
    font-size: 0.9em; }
  #horarios ul li {
    list-style: none;
    font-size: 0.9em; }
  #llegada {
    width: 40%;
    height: auto;
    background-color: white;
    font-size: 0.9em; }
  #llegada ul li {
    font-size: 0.9em;
    list-style: none; }
  .width {
    width: 100%; }
  .maps {
    width: 40%;
    margin-right: 10%; }
  .icono-footer {
    width: 10%; } }

@media (min-width: 1024px) {
  .contenedor {
    grid-template-columns: 40vw 40vw 20vw;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "botonera botonera botonera"  "header header header" "main main main" "accesibilidad accesibilidad maps" "footer footer footer"; }
  #accesibilidad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px; }
  #horarios {
    width: 50%;
    height: auto;
    background-color: #F9F2F2; }
  #horarios ul li {
    list-style: none;
    font-size: 1em; }
  #llegada {
    width: 50%;
    height: auto;
    background-color: #F9F2F2; }
  #llegada ul li {
    list-style: none; }
  #carousel-maps {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3.5em;
    margin-bottom: 20px;
    font-weight: 400; }
  h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.5em;
    font-weight: 300; }
  h3 {
    font-size: 1.5em;
    font-weight: 500;
    color: black; }
  #parrafos {
    margin: 5% 3%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #FFA2A2; }
  .icono-footer {
    padding-top: 10px;
    align-self: center;
    width: 80px;
    height: auto; }
  .slogan-footer {
    padding-bottom: 20px;
    align-self: center;
    width: 300px;
    height: auto; }
  .carousel2 {
    width: 60%; } }

@media (min-width: 1200px) {
  .contenedor {
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "botonera botonera botonera botonera"  "header header header header"  "main main main main" "accesibilidad accesibilidad accesibilidad maps" "footer footer footer footer"; }
  #accesibilidad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 10px; }
  #horarios {
    display: flex;
    align-items: center;
    width: 85%;
    height: auto;
    background-color: #F9F2F2;
    margin-right: 10px; }
  #horarios ul li {
    list-style: none;
    font-size: 0.9em; }
  #llegada {
    display: flex;
    align-items: center;
    width: 50%;
    height: auto;
    background-color: #F9F2F2; }
  #llegada ul li {
    font-size: 0.9em;
    list-style: none; }
  #carousel-maps {
    display: flex;
    flex-direction: row; } }

@media (min-width: 768px) {
  .contenedor2 {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "botonera botonera"  "header header" "main main" "footer footer"; }
  #img-nosotros {
    display: flex;
    justify-content: center;
    flex-direction: row; }
  #parrafos {
    margin: 5% 3%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #FFA2A2; } }

@media (min-width: 1024px) {
  .contenedor2 {
    grid-template-columns: 40vw 40vw 20vw;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "botonera botonera botonera"  "header header header" "main main main" "footer footer footer"; }
  #parrafos {
    margin: 5% 3%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #FFA2A2; } }

@media (min-width: 1200px) {
  .contenedor2 {
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "botonera botonera botonera botonera"  "header header header header"  "main main main main" "footer footer footer footer"; } }

@media (min-width: 768px) {
  .contenedor3 {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "botonera botonera"  "header header" "main main" "iframe iframe" "footer footer"; }
  #iframe {
    width: 90%; } }

@media (min-width: 1024px) {
  .contenedor3 {
    grid-template-columns: 40vw 40vw 20vw;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "botonera botonera botonera"  "header header header" "main main main" "iframe iframe iframe" "footer footer footer"; } }

@media (min-width: 1200px) {
  .contenedor3 {
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "botonera botonera botonera botonera"  "header header header header"  "main main main main" "iframe iframe iframe iframe" "footer footer footer footer"; } }

@media (min-width: 768px) {
  .contenedor4 {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "botonera botonera"  "header header" "main maps" "footer footer"; }
  #maps {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; } }

@media (min-width: 1024px) {
  .contenedor4 {
    grid-template-columns: 40vw 40vw 20vw;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "botonera botonera botonera"  "header header header" "main maps maps" "footer footer footer"; } }

@media (min-width: 1200px) {
  .contenedor4 {
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "botonera botonera botonera botonera"  "header header header header"  "main main maps maps" "footer footer footer footer"; } }

@media (min-width: 768px) {
  .contenedor5 {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "botonera botonera"  "header header" "main main" "footer footer"; } }

@media (min-width: 1024px) {
  .contenedor5 {
    grid-template-columns: 40vw 40vw 20vw;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "botonera botonera botonera"  "header header header" "main main main" "footer footer footer"; } }

@media (min-width: 1200px) {
  .contenedor5 {
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "botonera botonera botonera botonera"  "header header header header"  "main main main main" "footer footer footer footer"; } }
