body{
	background-color: $bg-color;
	overflow-x: hidden;
}

#header{
	grid-area: header;
	color: $header-color;
	margin-top: 10px;
	margin-bottom: 10px;
}

	:root{
		--clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
	}

	.name{
		position: relative;
	}

	.paragraph{
		--clippy: circle(0% at 50% 50%);
	}


	.item{
		position: relative;
		padding-left: 1rem;
		transition: color .1s;

	}

	.item::before{
		content: "";
		display: block;
		background: $animation-bg1;
		width: 120%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		clip-path: var(--clippy);
		transition: clip-path 1.2s;
	}

	.paragraph::before{
			background: $animation-bg;
		}

	.name:hover::before{
		clip-path: polygon(0 0, 85% 0, 99% 100%, 0 100%);
	} 

	.name:hover + .paragraph::before{
		clip-path: circle(150% at 50% 50%);
		transition: clip-path 1s 1.2s;
	}

	.name:hover,
	.name:hover + .paragraph{
		color: $white;
	}

#main{
	grid-area: main;
	#div-img{
		display: flex;
		justify-content: center;
	}
	#img-header{
		height: auto;
		width: 90%;
	}
}
	#accesibilidad{
		grid-area: accesibilidad;
		display: flex;
		flex-direction: column;
		justify-content:center;
		align-content: center;					
		
	}

		#horarios{
			margin-bottom: 10px;
			margin-right: 4%;
			height: auto;
			background-color: $white;
		}
			#horarios ul li{
				list-style: none;
				font-size: $fontXs;
			}

		#llegada{
			margin-top: 10px;
			margin-right: 4%;
			height: auto;
			background-color: $white;
			font-size: $fontXs;
		}
			#llegada ul li{
				list-style: none;
				font-size: $fontXs;
			}

	#maps{
		display: flex;
		justify-content: center;
		align-content:center;
		align-items: center;
		grid-area: maps;
		margin-top:5px;
		margin-bottom: 5%;
		width:auto;
	}

	.bg-img{
		background-color: $white;
		padding-left: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.bg-white-color{
		background-color: $white;
	}

	.text-black{
		color: $black;
		font-weight: $f-weight5;
	}

	.text-center{
		text-align: center;
	}

	#parrafos{
		margin: 5% 3%;
		font-family: 'Barlow Condensed', sans-serif;
		font-size: $fontXs;
		text-align: center;		
		color: $p-color;
	}

h1{
	font-family: $font;
	font-size: $fontMd;
	margin-bottom: 20px	;
	font-weight: $f-weight4;
}

h2{
	font-family: $font;
	font-size: $fontSm;
	font-weight: $f-weight3;
}

h3{
	font-size:$fontXs;
	font-family: $font;
	font-weight: $f-weight2;
}


#img-nosotros{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 10%;
	.img-entrada{
		margin-top: 2%;
		margin-bottom: 5%;
		width: 90%;
		height: 90%;
	}
}

#iframe{
	grid-area: iframe;
	width:50%;
}

.flex{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.fieldset{
	color: $black;
	font-weight: $f-weight5;
}


.iframe{
	border-radius: 20px;
}

#form{
	display: flex;
	justify-content: flex-start;
	width:60%;
}